{% extends "base.html" %}
{% load static %}
{% block title %}
    About
{% endblock title %}

{% block content %}

<section class="about" id="about">
    <h3 class="heading">About Us</h3>
    <div class="row">
        <div class="image">
            <img src="{% static 'img/gettyimages-1256313433-612x612.jpg' %}" alt="">
        </div>
        <div class="content">
            <h3>Best Icecream in the country</h3>
            <p>Currently the compnay is an startup, but SweetScoop will expand around the world, with almost 7000 stores worldwide. You might be pleasantly surprised to find us in places you never expected!</p>
            <p>
                SweetScoops is one of the world’s largest ice cream chains globally. /Our exciting menu with includes universal favorites like the delicious Mississippi Mud and Mint Milk Chocolate along with local favorite flavors like Honey Nut Crunch and Alphonso Mango.
            </p>
            <div class="icons-container">
                <div class="icons">
                    <i class="fa fa-truck"></i>
                    <span>Fast delivery</span>
                </div>
                <div class="icons">
                    <i class="fa fa-dollar"></i>
                    <span>Easy Payments</span>
                </div>
                <div class="icons">
                    <i class="fa fa-clock-o"></i>
                    <span>24/7 service</span>
                </div>             
            </div>
            <a href="" class="btn">Learn more</a>
        </div>
    </div>
</section>

{% endblock content %}