<section class="dishes" id="categories">
    <h1 class="heading">Popular IceCream</h1>
    <div class="box-container">
        <div class="box">
            <a href="#" class="fa fa-heart"></a>
            <a href="#" class="fa fa-eye"></a>
            <img src="{% static 'img/gettyimages-157472912-612x612.jpg' %}" alt="">
            <h3>Tasty IceCream</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>  
            <span>Rs 10</span>
            <a href="" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="" class="fa fa-heart"></a>
            <a href="" class="fa fa-eye"></a>
            <img src="{% static 'img/gettyimages-157472912-612x612.jpg' %}" alt="">
            <h3>Tasty IceCream</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>  
            <span>Rs 10</span>
            <a href="" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fa fa-heart"></a>
            <a href="#" class="fa fa-eye"></a>
            <img src="{% static 'img/gettyimages-157472912-612x612.jpg' %}" alt="">
            <h3>Tasty IceCream</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>  
            <span>Rs 10</span>
            <a href="" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="" class="fa fa-heart"></a>
            <a href="" class="fa fa-eye"></a>
            <img src="{% static 'img/gettyimages-157472912-612x612.jpg' %}" alt="">
            <h3>Tasty IceCream</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>  
            <span>Rs 10</span>
            <a href="" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="" class="fa fa-heart"></a>
            <a href="" class="fa fa-eye"></a>
            <img src="{% static 'img/gettyimages-157472912-612x612.jpg' %}" alt="">
            <h3>Tasty IceCream</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>  
            <span>Rs 10</span>
            <a href="" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="" class="fa fa-heart"></a>
            <a href="" class="fa fa-eye"></a>
            <img src="{% static 'img/gettyimages-157472912-612x612.jpg' %}" alt="">
            <h3>Tasty IceCream</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>  
            <span>Rs 10</span>
            <a href="" class="btn">add to cart</a>
        </div> 
    </div>
</section>
