{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icecream Website</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/icecream_10.jfif' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/04c19591e6.js" crossorigin="anonymous"></script>

    
</head>
<body>
    <header>
        <a href="#" class="logo"><i class="fa fa-untensils"></i>Sweet Scoops.</a>
        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#categories">Categories</a>
            <a href="#about">About</a>
            <a href="#top">Top IceCream</a>
            <a href="{% url "icecream-list" %}">Menu</a>
        </nav>

        <div class="icons">
            <i class="fa-solid fa-bars" id="bars"></i>
            <form class="d-flex" action="{% url 'search' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name ="keyword">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              {% if request.user.first_name %}
                <a href="{% url 'login' %}"><button class="btn btn-outline-success btn-lg" type="submit">{{request.user.first_name}}</button></a>
                <a href="{% url 'logout' %}"><button class="btn btn-outline-success btn-lg" type="submit">Logout</button></a> 
              
              {% else %}
                <a href="{% url 'login' %}"><button class="btn btn-outline-success btn-lg" type="submit">Login</button></a>
                <a href="{% url 'register' %}"><button class="btn btn-outline-success btn-lg" type="submit">Register</button></a>
              {% endif %}

            <a href="{% url 'cart' %}" class="fa-solid fa-cart-shopping">
                {% if count > 0 %}
                    
                    <span class="badge rounded-pill bg-danger" style="position:absolute;top:1px bottom:1px">{{count}}</span>
                
                {% endif %}
            </a>
        </div>
    </header>
    <!-- End of header -->

    <section class="home" id="home">
        <div class="swiper-container home-slider">
            <div class="swiper-wrapper wrapper">
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Our Special Icecream</span>
                        <h3>6 in One Fresh Green</h3>
                        <p>
                            It is a combination of six different ice-creams, served 1 scoop each. It comprises of 2 flavours of chocolate ice-creams, a vanilla, butterscotch, strawberry and Choco chip cookie. Garnished with chocolate drum and stick and etc.
                        </p>
                        <a href="{% url 'icecream-list' %}" class="btn2">Add to Cart</a>
                    </div>
                    <div class="image">
                        <img src="{% static 'img/gettyimages-157472912-612x612.jpg' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Our Special Icecream</span>
                        <h3>French Style Butterscotch</h3>
                        <p>
                            Butterscotch ice cream is luxuriously thick, creamy, and easy to make with just a few simple ingredients. It starts with a rich buttery brown sugar custard that's folded with whipped cream for a light, mousse-like consistency. This recipe works great with or without an ice cream maker and is delicious topped with homemade butterscotch sauce!
                        </p>
                        <a href="{% url "icecream-list" %}" class="btn2">Add to Cart</a>
                    </div>
                    <div class="image">
                        <img src="{% static 'img/gettyimages-1395380883-612x612.jpg' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Our Special Icecream</span>
                        <h3>Dark Divine Chocolate</h3>
                        <p>
                            It is round dark & so deliciously handsome! It is always a crowd pleaser because it knows what you like! Take a walk on the darker side
                        </p>
                        <a href="{% url 'icecream-list' %}" class="btn2">Add to Cart</a>
                    </div>
                    <div class="image">
                        <img src="{% static 'img/gettyimages-936205852-612x612.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-pagination">
            </div>
        </div>
    </section>

    <!-----------------------------------------------------------End of  Home--------------------------------------------------------------->

    <section class="dishes" id="categories">
        <h1 class="heading">Categories</h1>
        <div class="box-container">

            {% for category in categories %}

                {% include "category_card.html" with c=category %}

            {% endfor %}
        </div> 
            
    </section>

<!--------------------------------------------------------------End of Dishes----------------------------------->

<section class="top" id="top">
    <h1 class="heading">Top Ice Cream</h1>
    <div class="row">
        <div class="image-container">
            <div class="small-image">
                {% for top in top_icecreams %}
                    <img src="{{top.icecream_image.url}}" alt="" class = "top-image" id="{{forloop.counter}}">
                {% endfor %}
            </div>
 
            <div class="big-image">
                {% for top in top_icecreams %}
                 {% if forloop.first %}
                <img src="{{top.icecream_image.url}}" alt="" class="big-image1 data-name="{{ top.icecream_name }}" data-description="{{ top.icecream_description }}" data-price="{{ top.icecream_price }}"">
                {% endif %}
            {% endfor %}
              
                
            </div>
        </div>
       
        {% for top in top_icecreams %}

        {% if forloop.first %}

        <div class="content">
            <h3 id="name">{{top_icecreams.0.icecream_name}}</h3>

            <p id="description">
                {{top_icecreams.0.icecream_description}}
            </p>
            <div class="price" id="price"> {{top_icecreams.0.icecream_price}}</div>
            <form action="">

                <button type="button" onclick="updateQuantity(-1,{{top_icecreams.0.id}})">-</button>
      
                <input type="number" name="quantity" id="quantity{{top_icecreams.0.id}}" value="1" min="1" max="10">
      
                <button type="button" onclick="updateQuantity(+1,{{top_icecreams.0.id}})">+</button>
                
                <input class="btn btn-primary" type="submit" value="Add to Cart">
            </form>
        </div>
        {% endif %}

        {% endfor %}
              
    </div>
</section>

<!--------------------------------------------------------------End of Top------------------------------------->


<section class="about" id="about">
    <h3 class="heading">About Us</h3>
    <div class="row">
        <div class="image">
            <img src="{% static 'img/gettyimages-1256313433-612x612.jpg' %}" alt="">
        </div>
        <div class="content">
            <h3>Best Icecream in the country</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos eaque explicabo iusto doloribus at repudiandae, excepturi molestiae magni quo dicta. Debitis sed deserunt quis libero fugiat alias amet autem officia.</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nisi omnis ullam deleniti eligendi quia fugiat nihil. Sit, accusamus nam.
            </p>
            <div class="icons-container">
                <div class="icons">
                    <i class="fa fa-truck"></i>
                    <span>Fast delivery</span>
                </div>
                <div class="icons">
                    <i class="fa fa-dollar"></i>
                    <span>Easy Payments</span>
                </div>
                <div class="icons">
                    <i class="fa fa-clock-o"></i>
                    <span>24/7 service</span>
                </div>             
            </div>
            <a href="" class="btn2">Learn more</a>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="{% static 'js/script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/04c19591e6.js" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>

<script>

    document.querySelectorAll('.top-image').forEach(image_1 =>{
        image_1.addEventListener('click',() =>{
            var src = image_1.getAttribute('src');
            document.querySelector('.big-image1').src = src;
    
            switch(image_1.id)
            {
                case '1':
                       document.getElementById("name").innerText="{{top_icecreams.0.icecream_name}}";
                       document.getElementById("description").innerText="{{top_icecreams.0.icecream_description}}";
                       document.getElementById("price").innerText={{top_icecreams.0.icecream_price}};
                       document.forms[1].action="{% url 'add-to-cart' top_icecreams.0.id %}"
                       break;
    
                case '2':
                       document.getElementById("name").innerText="{{top_icecreams.1.icecream_name}}";
                       document.getElementById("description").innerText="{{top_icecreams.1.icecream_description}}";
                       document.getElementById("price").innerText={{top_icecreams.1.icecream_price}};
                       document.forms[1].action="{% url 'add-to-cart' top_icecreams.1.id %}"
                       break;
    
                case '3':
                       document.getElementById("name").innerText="{{top_icecreams.2.icecream_name}}";
                       document.getElementById("description").innerText="{{top_icecreams.2.icecream_description}}";
                       document.getElementById("price").innerText={{top_icecreams.2.icecream_price}};
                       document.forms[1].action="{% url 'add-to-cart' top_icecreams.2.id %}"
                       break;
    
                case '4':
                       document.getElementById("name").innerText="{{top_icecreams.3.icecream_name}}";
                       document.getElementById("description").innerText="{{top_icecreams.3.icecream_description}}";
                       document.getElementById("price").innerText={{top_icecreams.3.icecream_price}};
                       document.forms[1].action="{% url 'add-to-cart' top_icecreams.3.id %}"
                       break;
                  
            }
           
        });
    });
    
    
    
    document.querySelectorAll('.image_details{{top.id}}').forEach(image_1 =>{
        image_1.addEventListener('click',() =>{
            var src = image_1.getAttribute('src');
            var src = image.getAttribute('src');
            var name = image.getAttribute('data-name');
            var description = image.getAttribute('data-description');
            var price = image.getAttribute('data-price');
            document.querySelector('.big-image1').src = src;
            document.getElementById('ice-cream-name').innerText = name;
            document.getElementById('ice-cream-description').innerText = description;
            document.getElementById('ice-cream-price').innerText = price;
        });
    });

    </script>
</body>
</html>

