{% load static %}

    <header>
        <a href="#" class="logo"><i class="fa fa-untensils"></i>Sweet Scoops.</a>
        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#dishes">Dishes</a>
            <a href="#about">About</a>
            <a href="#ice">Sweet Scoops</a>
            <a href="#review">Review</a>
            <a href="#order">Order</a>
        </nav>

        <div class="icons">
            <i class="fa-solid fa-bars" id="bars"></i>
            <i class="fa-solid fa-magnifying-glass" id="search"></i>
            <a href="#" class="fa-solid fa-heart"></a>
            <a href="#" class="fa-solid fa-cart-shopping"></a>
        </div>
    </header>
    <!-- End of header -->



