{% load static %}

    <header>
        <a href="#" class="logo"><i class="fa fa-untensils"></i>Sweet Scoops.</a>
        <nav class="navbar">
            <a href="{% url "home" %}" class="active">Home</a>
            <a href="{% url 'categories' %}">Categories</a>
            <a href="{% url "about" %}">About</a>
            <a href="{% url "top-icecreams" %}">Top IceCream</a>
            <a href="{% url "icecream-list" %}">Menu</a>
        </nav>

        <div class="icons">
            <i class="fa-solid fa-bars" id="bars"></i>
            <form class="d-flex" action="{% url 'search' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name ="keyword">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              {% if request.user.first_name %}
              <a href="{% url 'login' %}"><button class="btn btn-outline-success btn-lg" type="submit">{{request.user.first_name}}</button></a>
              <a href="{% url 'logout' %}"><button class="btn btn-outline-success btn-lg" type="submit">Logout</button></a> 
            
             {% else %}
              <a href="{% url 'login' %}"><button class="btn btn-outline-success" type="submit">Login</button></a>
              <a href="{% url 'register' %}"><button class="btn btn-outline-success" type="submit">Register</button></a>
             {% endif %}

            <a href="{% url 'cart' %}" class="fa-solid fa-cart-shopping">
                {% if count > 0 %}
                    
                    <span class="badge rounded-pill bg-danger" style="position:absolute;top:1px bottom:1px">{{count}}</span>
                
                {% endif %}
            </a>
        </div>
    </header>
    <!-- End of header -->



