<section class="home" id="home">
    <div class="swiper-container home-slider">
        <div class="swiper-wrapper wrapper">
            <div class="swiper-slide slide">
                <div class="content">
                    <span>Our Special Icecream</span>
                    <h3>French Icecream</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, cupiditate libero consequatur et natus adipisci. Obcaecati, quia ducimus labore possimus id sed nam nobis magnam, cumque exercitationem perspiciatis nihil quis?
                    </p>
                    <a href="" class="btn2">Order Now</a>
                </div>
                <div class="image">
                    <img src="{% static 'img/gettyimages-157472912-612x612.jpg' %}" alt="">
                </div>
            </div>
            <div class="swiper-slide slide">
                <div class="content">
                    <span>Our Special Icecream</span>
                    <h3>French Icecream</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, cupiditate libero consequatur et natus adipisci. Obcaecati, quia ducimus labore possimus id sed nam nobis magnam, cumque exercitationem perspiciatis nihil quis?
                    </p>
                    <a href="" class="btn2">Order Now</a>
                </div>
                <div class="image">
                    <img src="{% static 'img/gettyimages-1395380883-612x612.jpg' %}" alt="">
                </div>
            </div>
            <div class="swiper-slide slide">
                <div class="content">
                    <span>Our Special Icecream</span>
                    <h3>French Icecream</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, cupiditate libero consequatur et natus adipisci. Obcaecati, quia ducimus labore possimus id sed nam nobis magnam, cumque exercitationem perspiciatis nihil quis?
                    </p>
                    <a href="" class="btn2">Order Now</a>
                </div>
                <div class="image">
                    <img src="{% static 'img/gettyimages-936205852-612x612.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-pagination">
        </div>
    </div>
</section>
