<div class="box">
    <div class="image">
      
        <img src="{{i.icecream_image.url}}" alt="">
        
  </div>
  <div class="content fs-3">
      
      <h3>{{i.icecream_name}}</h3>
      <p> 
        {{i.icecream_description}}
      </p>
      
      <form action="{% url "add-to-cart" i.id %}">

        <button type="button" onclick="updateQuantity(-1,{{i.id}})">-</button>

        <input type="number" name="quantity" id="quantity{{i.id}}" value="1" min="1" max="10">

        <button type="button" onclick="updateQuantity(+1,{{i.id}})">+</button>
        
        <input class="btn btn-primary" type="submit" value="Add to Cart">  
      </form>
      <span class="price">Rs{{i.icecream_price}}</span>
  </div> 
</div>
