{% extends "base.html" %}

{% load static %}

<section class="home" id="home">
    <div class="swiper-container home-slider">
        <div class="swiper-wrapper wrapper">
            <div class="swiper-slide slide">
            {% for tag in icecream_of_year %}
                    {% include "carausel.html" with t=tag %}    
            {% endfor %} 
            </div>
        
            <div class="swiper-slide slide">
                {% for tag in icecream_of_year %}
                        {% include "carausel.html" with t=tag %}    
                {% endfor %} 
            </div>

            <div class="swiper-slide slide">
                {% for tag in icecream_of_year %}
                        {% include "carausel.html" with t=tag %}    
                {% endfor %} 
            </div>
        </div>
        <div class="swiper-pagination">
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>